@import '../../global.scss';
.menu{
    position: relative;
    z-index: 3;
    width: 300px;
    height: 100vh;
    background-color: $mainColor;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    ul{
        list-style: none;
        font-size: 30px;
        font-weight: 300;
        width: 60%;
        li{
            margin-bottom: 25px;
            a{
                text-decoration: none;
                color: white;
                &:hover{
                    font-weight: 500;
                }
            }
        }
    }
    &.active{
        right: 0;
    }
}